{% extends 'mailing/base.html' %}
{%block title%}Ваша статистика{% endblock %}
{% block content %}
<div class='container'>
    <h2>Ваша статистика</h2>
    <div class='row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3'>
        <div class='statistics'>
            <p>Успешно: {{ successful }} </p>
            <p>Неуспешно: {{ failed }} </p>
            <p>Количество отправленных рассылок: {{ mailing_count }} </p>
            <p>Всего попыток: {{ attempts }} </p>
        </div>
    </div>
</div>
{% endblock %}