{% extends 'mailing/base.html' %}
{% block title %}Пользователи{% endblock %}
{% load my_tags %}
{% load static %}
{% block content %}
<div class='list-unstyled ps-0'>
    <div class='container'>
        <h2>Список пользователей</h2>
        <div class='row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3'>
            {% for user in object_list %}
                <div class='col'>
                    <div class='card shadow-sm'>
                        <img src='{{ user.avatar | media_filter }}' class='card-img-top' alt='Avatar пользователя'>
                        <div class='card-body'>
                            <p class='card-text'><strong>Email:</strong> {{ user.email }}</p>
                            <p class='card-text'><strong>Телефон:</strong> {{ user.phone }}</p>
                            <p class='card-text'><strong>Страна:</strong> {{ user.country }}</p>
                            <p class='card-text'><strong>Заблокирован:</strong> {{ user.blocked }}</p>
                            <div class='d-flex justify-content-between align-items-center'>
                                <div class='btn-group'>
                                    {% if perms.users.can_block_user %}
                                    <a class='btn btn-danger' href='{% url "users:block_user" user.pk %}'
                                       role='button'>Заблокировать пользователя</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}